<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        a:link {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div th:replace="fragments/startFooter :: copy"></div>

    <div class="py-5 text-center">
        <h2 th:text="#{page.items}">상품 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-start"
                    onclick="location.href='loginHome.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button" th:text="#{page.home}">홈으로</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right"
                    th:onclick="|location.href='@{/user/review/add}'|"
                    type="button">리뷰 등록</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right"
                    th:onclick="|location.href='@{/user/review/userReviews/page/1}'|"
                    type="button">내가 작성한 리뷰</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.item.id}">ID</th>
                <th th:text="#{label.item.itemName}">상품명</th>
                <th th:text="#{label.item.itemType}">상품종류</th>
                <th th:text="#{label.item.price}">가격</th>
                <th th:text="#{label.item.quantity}">수량</th>
                <th>Review</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><a href="item.html" th:href="@{/user/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">회원 id</a></td>
                <td><a href="item.html" th:href="@{|/user/items/${item.id}|}" th:text="${item.itemName}">상품명</a></td>
                <td th:text="${item.itemType}">Book</td>
                <td th:text="${item.price}">10000</td>
                <td th:text="${item.quantity}">10</td>
                <td><a href="item.html" th:href="@{|/user/review/${item.id}|}">후기</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div><center>
        <a th:href="@{|/user/items/page/${pageIndex-1}|}" th:if="${pageIndex != 1}">◁</a>
        <a th:text="${pageIndex}">1</a>
        <a th:href="@{|/user/items/page/${pageIndex+1}|}" th:if="${pageIndex * maxSize < totalSize}">▷</a>
    </center></div>

    <div th:replace="fragments/endFooter :: copy"></div>
</div> <!-- /container -->

</body>
</html>