<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        a:link {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div th:replace="fragments/startFooter :: copy"></div>

    <div class="py-5 text-center">
        <h2>결제 목록</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.item.id}">상품 ID</th>
                <th th:text="#{label.item.itemName}">상품명</th>
                <th th:text="#{label.item.itemType}">상품종류</th>
                <th th:text="#{label.item.price}">가격</th>
                <th th:text="#{label.item.quantity}">수량</th>
                <th>총가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}">상품 ID</td>
                <td th:text="${item.itemName}">상품명</td>
                <td th:text="${item.itemType}">상품종류</td>
                <td th:text="${item.price}">10000</td>
                <td th:text="${item.quantity}">10</td>
                <td th:text="${item.totalPrice}">상품명</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <font color="red">
            <div class="row float-right" th:text="|# 최종 금액 : ${totalPrice}|">최종 금액</div>
        </font>
    </div>
    <br>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/user/payment/complete}'|"
                    type="button">확인</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/user/cart}'|"
                    type="button" th:text="#{button.cancel}">취소</button>
        </div>
    </div>

    <div th:replace="fragments/endFooter :: copy"></div>
</div> <!-- /container -->

</body>
</html>