<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        a:link {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div th:replace="fragments/startFooter :: copy"></div>

    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-start"
                    onclick="location.href='loginHome.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">메인 화면</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-right"
                    onclick="location.href='loginHome.html'"
                    th:onclick="|location.href='@{/user/board/add}'|"
                    type="button">게시글 작성</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><a th:href="@{|/user/board/${board.id}|}" th:text="${board.title}">제목</a></td>
                <td th:text="${board.writer}">작성자</td>
                <td th:text="${board.content}">내용</td>
                <td th:text="${board.dateTime}">날짜</td>
                <td th:text="${board.views}">조회수</td>
            </tr>
            </tbody>
        </table>
    </div>

    <br>
    <div th:replace="fragments/endFooter :: copy"></div>
</div> <!-- /container -->

</body>
</html>