<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        a:link {
            color: blue;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container" style="max-width: 600px">
    <div th:replace="fragments/startFooter :: copy"></div>

    <div class="py-5 text-center">
        <h2>내가 작성한 게시글 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-start"
                    th:onclick="|location.href='@{/user/board/page/1}'|"
                    type="button">게시판</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>날짜</th>
                <th>조회수</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><a th:href="@{|/user/board/edit/${board.id}|}" th:text="${board.title}">제목</a></td>
                <td th:text="${board.writer}">작성자</td>
                <td th:text="|${#strings.substring(board.content,0,8)}...|">내용</td>
                <td th:text="${board.dateTime}">날짜</td>
                <td th:text="${board.views}">조회수</td>
                <td><a th:href="@{|/user/board/delete/${board.id}|}">삭제</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div><center>
        <a th:href="@{|/user/board/myBoards/page/${pageIndex-1}|}" th:if="${pageIndex != 1}">◁</a>
        <a th:text="${pageIndex}">1</a>
        <a th:href="@{|/user/board/myBoards/page/${pageIndex+1}|}" th:if="${pageIndex * maxSize < totalSize}">▷</a>
    </center></div>

    <br>
    <div th:replace="fragments/endFooter :: copy"></div>
</div> <!-- /container -->

</body>
</html>